## Dictionary

#[1,2,3,4,5,6,7,8, 5492, .. , 10000]

In [1]:
ganji = {'ja':0, 'chuk':1}

In [2]:
ganji

{'ja': 0, 'chuk': 1}

In [4]:
ganji = dict(ja=1,chuk=0)

In [5]:
ganji

{'ja': 1, 'chuk': 0}

In [8]:
dict([('ja',1),('chuk',2)])

{'ja': 1, 'chuk': 2}

In [9]:
ganji

{'ja': 1, 'chuk': 0}

In [10]:
ganji['in'] = 'tiger'

In [11]:
ganji

{'ja': 1, 'chuk': 0, 'in': 'tiger'}

In [12]:
ganji['myo'] = 'rabbit'

In [13]:
ganji

{'ja': 1, 'chuk': 0, 'in': 'tiger', 'myo': 'rabbit'}

In [14]:
ganji['dragon'] = 'jin'

In [15]:
ganji

{'ja': 1, 'chuk': 0, 'in': 'tiger', 'myo': 'rabbit', 'dragon': 'jin'}

In [16]:
del ganji['dragon']

In [17]:
ganji

{'ja': 1, 'chuk': 0, 'in': 'tiger', 'myo': 'rabbit'}

In [19]:
fast = 1
del fast
result = fast + 2
print(result)

NameError: name 'fast' is not defined

In [21]:
ganji['ja'] = 'rat'

In [22]:
ganji

{'ja': 'rat', 'chuk': 0, 'in': 'tiger', 'myo': 'rabbit'}

In [23]:
ganji['ja']

'rat'

In [25]:
ganji['chuk'] = 'cow'
ganji['chuk']

'cow'

In [27]:
ganji.keys()

dict_keys(['ja', 'chuk', 'in', 'myo'])

In [28]:
for key in ganji.keys():
    print(ganji[key])

rat
cow
tiger
rabbit

In [29]:
ganji.values()

dict_values(['rat', 'cow', 'tiger', 'rabbit'])

In [30]:
ganji.items()

dict_items([('ja', 'rat'), ('chuk', 'cow'), ('in', 'tiger'), ('myo', 'rabbit')])

In [32]:
list(zip(ganji.keys(), ganji.values()))

[('ja', 'rat'), ('chuk', 'cow'), ('in', 'tiger'), ('myo', 'rabbit')]

In [33]:
ganji.pop('ja')

'rat'

In [34]:
ganji

{'chuk': 'cow', 'in': 'tiger', 'myo': 'rabbit'}

In [37]:
ganji.popitem()

('myo', 'rabbit')

In [38]:
"""
Korean: ,
Math: ,
English: ,
Social: [ , , ],
Science: [ , , , ],
"""

In [39]:
hong_midterm = {}
hong_midterm['Korean'] = 70
hong_midterm['Math'] = 60
hong_midterm['English'] = 100
hong_midterm['Social'] = [45,30,20]
hong_midterm['Science'] = [45,45,40,10]

In [40]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10]}

In [44]:
hong_midterm.get('Ethics', False)

False

In [45]:
hong_midterm.setdefault('Ethics', [])

[]

In [46]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': []}

In [47]:
len(hong_midterm)

6

In [48]:
len('1234567') # length

7

In [49]:
len([1,2,3,4,5])

5

In [52]:
hong_midterm['Ethics'].append(1)

In [53]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': [1]}

In [54]:
hong_midterm['Ethics'] = 10

In [55]:
hong_midterm

{'Korean': 70,
 'Math': 60,
 'English': 100,
 'Social': [45, 30, 20],
 'Science': [45, 45, 40, 10],
 'Ethics': 10}

In [56]:
some_dict = {'name': 'Hong Gil-dong', 'locale':'Seoul, KR'}
print("Hello, I'm {name}, from {locale}".format(**some_dict))

Hello, I'm Hong Gil-dong, from Seoul, KR

## Set

In [59]:
ppap = ['pen', 'pineapple', 'apple', 'pen']
ppap

['pen', 'pineapple', 'apple', 'pen']

In [61]:
list(set(ppap))

['pineapple', 'apple', 'pen']

In [57]:
a_word = 'fastcampus'
b_word = 'python'

In [62]:
a_set = set(a_word)
b_set = set(b_word)

In [63]:
a_set | b_set

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 'p', 's', 't', 'u', 'y'}

In [64]:
a_set & b_set

{'p', 't'}

In [65]:
a_set - b_set

{'a', 'c', 'f', 'm', 's', 'u'}

In [66]:
a_set ^ b_set

{'a', 'c', 'f', 'h', 'm', 'n', 'o', 's', 'u', 'y'}

1. 다음 인적사항을 입력하세요.
(list에 각 정보가 dict로 존재)

|Name|Locale|Age|Username|
|:--:|:--:|:--:|:--:|
|Johnny Silverhand|Night City|120|Johnny|
|John Doe|CA, USA|40|Doh|
|Jane Doe|Seoul, Korea|24|jane-doe|
|Foo Bar|Busan, Korea|31|foo-bar|

2. Jane Doe의 Locale을 London, UK 로 수정하세요.

3. list의 모든 아이템에 대해 key와 value를 모두 출력하세요.(반복문 쓰지 말 것)

4. 다음 list의 중복 아이템을 제거한 뒤, 내림차순으로 정렬하여 출력하세요.

```python
cities = [
	'Daejeon', 'Ulsan', 'Seoul', 'Jeju',
	'Busan', 'Ulsan', 'Daegu', 'Daejeon',
	'Seoul', 'Seoul', 'Daejeon', 'Gwangju',
	'Busan', 'Daegu', 'Gwangju', 'Daejeon', 
	'Ulsan', 'Jeju', 'Gwangju', 'Seoul'
]
```

In [67]:
user_info = []

In [71]:
user_row = dict([('name','Foo Bar'),
                 ('locale', 'Busan, Korea'),
                 ('age', 31),
                 ('username', 'foo-bar')
                ])
user_info.append(user_row)
user_info

[{'name': 'Johnny Silverhand',
  'locale': 'Night City',
  'age': 120,
  'username': 'Johnny'},
 {'name': 'John Doe', 'locale': 'CA, USA', 'age': 40, 'username': 'Doh'},
 {'name': 'Jane Doe',
  'locale': 'Seoul, Korea',
  'age': 24,
  'username': 'jane-doe'},
 {'name': 'Foo Bar',
  'locale': 'Busan, Korea',
  'age': 31,
  'username': 'foo-bar'}]

In [75]:
user_info[2]['locale'] = 'London, UK'

In [76]:
user_info

[{'name': 'Johnny Silverhand',
  'locale': 'Night City',
  'age': 120,
  'username': 'Johnny'},
 {'name': 'John Doe', 'locale': 'CA, USA', 'age': 40, 'username': 'Doh'},
 {'name': 'Jane Doe',
  'locale': 'London, UK',
  'age': 24,
  'username': 'jane-doe'},
 {'name': 'Foo Bar',
  'locale': 'Busan, Korea',
  'age': 31,
  'username': 'foo-bar'}]

In [84]:
print(list(user_info[0].items()))
print(list(user_info[1].items()))
print(list(user_info[2].items()))
print(list(user_info[3].items()))

[('name', 'Johnny Silverhand'), ('locale', 'Night City'), ('age', 120), ('username', 'Johnny')]
[('name', 'John Doe'), ('locale', 'CA, USA'), ('age', 40), ('username', 'Doh')]
[('name', 'Jane Doe'), ('locale', 'London, UK'), ('age', 24), ('username', 'jane-doe')]
[('name', 'Foo Bar'), ('locale', 'Busan, Korea'), ('age', 31), ('username', 'foo-bar')]

In [85]:
cities = [
    'Daejeon', 'Ulsan', 'Seoul', 'Jeju',
    'Busan', 'Ulsan', 'Daegu', 'Daejeon',
    'Seoul', 'Seoul', 'Daejeon', 'Gwangju',
    'Busan', 'Daegu', 'Gwangju', 'Daejeon', 
    'Ulsan', 'Jeju', 'Gwangju', 'Seoul'
]

In [88]:
unique_cities = list(set(cities))

In [89]:
unique_cities.sort(reverse=True)

None

In [90]:
unique_cities

['Ulsan', 'Seoul', 'Jeju', 'Gwangju', 'Daejeon', 'Daegu', 'Busan']

## Conditional Statement

In [98]:
cash = 10000
location = 'home'
if cash > 100000 or location == 'fastcampus':
    print('go to lunch buffet!')
if not location == 'home':
    print('eat outside')

In [107]:
cash = 5000
location = 'fastcampus'
if cash > 4500:
    print('eat tteok-bok-gi')
elif cash > 8000:
    print('go to gookbob-jib')
elif cash > 100000 and location == 'fastcampus':
    print('go to lunch buffet!')    
else:
    print('go to cvs')

eat tteok-bok-gi

### Numguess

- 1부터 100까지 정수 중 하나를 `answer`라는 변수에 할당
- 사용자로 부터 임의의 값 하나를 받아 `guess`라는 변수에 할당
- `answer`와 `guess`를 비교하여 정답여부를 출력

In [137]:
import random


answer = random.randint(1,100)
print('DEBUG MODE has activated:: answer: ', answer)
guess = int(input('Guess the number(1-100): '))
if guess-answer == 0:
    print('That is correct! The answer was {}'.format(answer))
else:
    print('WRONG Answer, stupid! The answer was {}.'.format(answer))

DEBUG MODE has activated:: answer:  35
Guess the number(1-100): 99
WRONG Answer, stupid! The answer was 35.

## 숙제

1. Numguess에 추가할 요소 생각해서 정리해오기
2. https://www.hackerrank.com/challenges/py-if-else/problem
3. https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem